@model WebHotelv2.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Job</legend>

    <div class="display-label">jobName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jobName)
    </div>

    <div class="display-label">salary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salary)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">required</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.required)
    </div>

    <div class="display-label">deadline</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deadline)
    </div>

    <div class="display-label">domainID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domainID)
    </div>

    <div class="display-label">domainName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.domainName)
    </div>

    <div class="display-label">number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.number)
    </div>

    <div class="display-label">companyID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyID)
    </div>

    <div class="display-label">cityID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cityID)
    </div>

    <div class="display-label">cityName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cityName)
    </div>

    <div class="display-label">positionName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.positionName)
    </div>

    <div class="display-label">positionID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.positionID)
    </div>

    <div class="display-label">timeID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeID)
    </div>

    <div class="display-label">timeInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeInfo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
