@model IEnumerable<WebHotelv2.Models.Job>
@{
    ViewBag.Title = "Job";
}

<h2>Job</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
    <a href="/Job/Create" class="btn btn-success">Create New</a>
</p>*@
@*<div id="container" class="clear">*@
    <table class="table table-hover">
        <tr>
            <th>jobName
            </th>
            <th>salary
            </th>
            <th>description
            </th>
            <th>required
            </th>
            <th>deadline
            </th>
            @*<th>domainID
            </th>*@
            <th>domainName
            </th>
            <th>number
            </th>
            @*<th>companyID
            </th>
            <th>cityID
            </th>*@
            <th>cityName
            </th>
            <th>positionName
            </th>
            @*<th>positionID
            </th>
            <th>timeID
            </th>*@
            <th>timeInfo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.jobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.required)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadline)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.domainID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.domainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.companyID)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.cityID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.cityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.positionName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.positionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeID)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.timeInfo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.jobID }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.jobID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.jobID })
                </td>
            </tr>
        }

    </table>
@*</div>*@

@*Phân trang*@
<ul>
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        if (i == ViewBag.CurrentPage)
        {
        <a href="#">@i</a>
        }
        else
        {
        <a href="/Job/Index/@i">@i</a>
        }
    }
</ul>
